body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white; /* Set default text color to white */
    background-image: url('static/img/background.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensure the image covers the entire body */
    background-position: center; /* Center the image */
}

.header-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 150px; /* Adjust the logo height as needed */
    vertical-align: middle;
    margin-left: 20px;
}

.user-options {
    margin-right: 20px;
}

.user-options a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.user-options a:hover{
    text-decoration: underline;
}

.teacher_student_container {
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    display: flex; /* Change to flexbox */
    padding: 20px;
}

.left-column, .right-column {
    background-color: rgba(242, 242, 242, 0.3); /* Adjust opacity as needed */
    padding: 20px;
}

.left-column h2 {
    flex: 0 0 250px; /* Fixed width for the left column */
}

.right-column {
    flex: 1; /* Allow the right column to grow */
    overflow-y: auto; /* Add scroll if the content is too tall */
}
