<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MVP3 - Default Title{% endblock %}</title>

    <!-- Static Files (CSS, Images, etc.) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head %}{% endblock %}  <!-- Allows adding specific head elements to child templates -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body style="background-image: url('{{ url_for('static', filename='img/background.jpg') }}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<div id="header">
    <a href="/">
        <picture>
            <source srcset="{{ url_for('static', filename='img/logo.avif') }}" type="image/avif">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Your Logo" class="logo">
        </picture>
    </a>


    <div class="user-options">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('change_password') }}">Change password</a>
        {% endif %}
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages">
    {% for category, message in messages %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div id="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <p>&copy; 2025 My MVP Application
        Icons made by <a href="https://www.flaticon.com/free-icons/graduation-cap" title="graduation cap icons">Hilmy
            Abiyyu A.</a> from <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>.
    </p>
</footer>
</body>
</html>
