<!-- templates/student_home.html -->
{% extends 'base.html' %}

{% block title %}Student Home{% endblock %}

{% block content %}
<div class="teacher_student_container">
    <h2>Conta de aluno/a</h2>
    {% if admin_view %}
    <div class="alert alert-info" role="alert">
        You are viewing this page as Administrator.
    </div>
    <p>Viewing Student Page: <strong>{{ student.username }}</strong></p> {# Added student username display for admin
    view #}
    {% else %}
    <p>Bem vindo/a, Aluno/a {{ current_user.username }}!</p> {# Original welcome message for student #}
    {% endif %}


    <h3>Notas</h3>
    <ul class="list-group">
        {% if admin_view %}
        {% for grade in student.grades %}
        <li class="list-group-item">
            <strong>{{ grade.subject }}</strong> - Grade: {{ grade.grade }} (Date: {{ grade.date }})
        </li>
        {% else %}
        <li class="list-group-item">No grades yet.</li>
        {% endfor %}
        {% else %}
        {% for grade in current_user.grades %}
        <li class="list-group-item">
            <strong>{{ grade.subject }}</strong> - Grade: {{ grade.grade }} (Date: {{ grade.date }})
        </li>
        {% else %}
        <li class="list-group-item">No grades yet.</li>
        {% endfor %}
        {% endif %}
    </ul>

    <h3>Comentarios dos Professores</h3>
    <ul class="list-group">
        {% for comment in teacher_comments %}
        <li class="list-group-item">
            <strong>{{ comment.teacher.username }}</strong> disse em {{ comment.timestamp.replace(microsecond=0).strftime('%d/%m/%Y %H:%M:%S') }}:
            <br>
            {{ comment.content }}
        </li>
        {% else %}
        <li class="list-group-item">Ainda não há comentários.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
