<!-- templates/view_teachers.html -->
{% extends 'base.html' %}

{% block title %}View Teachers{% endblock %}

{% block content %}
<div class="container">
    <h2>Teacher Accounts</h2>
    <ul class="list-group">
        {% set sorted_teachers = teachers | sort(attribute='username') %}
        {% for teacher in sorted_teachers %}
        <li class="list-group-item">
            {{ teacher.username }}
            <a href="{{ url_for('view_teacher_page', user_id=teacher.id) }}" class="btn btn-sm btn-primary float-end">View
                Page</a>
        </li>
        {% endfor %}
    </ul>
    {% if not teachers %}
    <p>No teacher accounts found.</p>
    {% endif %}
</div>
{% endblock %}
