<!-- templates/view_students.html -->
{% extends 'base.html' %}

{% block title %}View Students{% endblock %}

{% block content %}
<div class="container">
    <h2>Student Accounts</h2>
    <ul class="list-group">
        {% set sorted_students = students | sort(attribute='username') %}
        {% for student in sorted_students %}
        <li class="list-group-item">
            {{ student.username }}
            <a href="{{ url_for('view_student_page', user_id=student.id) }}" class="btn btn-sm btn-primary float-end">View
                Page</a>
        </li>
        {% endfor %}
    </ul>
    {% if not students %}
    <p>No student accounts found.</p>
    {% endif %}
</div>
{% endblock %}
